<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>The Computer</title>
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/screen.css">
    <link rel="stylesheet" href="css/keybord.css">
    <link rel="stylesheet" href="css/show.css">
</head>

<body>


    <div class="screen-wrap">
        <div class="screen-box">
            <div class="operation-screen">
<!--               文件管理器界面-->
                <div class="explorer-wrap">
                    <div class="explorer-wrap-title">
                    <em class="fa fa-arrow-left fa-large" id="goBack"></em>
                    <span id="currFolder">我的电脑</span>
                    <i class=".hidepath" id="hidepath"></i>
                    <em class="fa fa-close fa-large" id="closeExp"></em>
                    </div>
                    <div class="explorer-wrap-content">
                        <div class="exp-content-nav"></div>
                        <div class="exp-content-body">
                            <ul id="files">
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div id="icosbar" class="icosbar">
                <img id="expIco" src="images/ico1.png" />
                <img src="images/ico2.png" />
                <img src="images/ico3.png" />
                <img src="images/ico4.png" />
                <img src="images/ico5.png" />
            </div>
        </div>
        <div class="logo-box"><span id="chromelogo" class="fa fa-chrome fa-2x"></span></div>
        <div class="base-warp">
            <div class="base-top"></div>
            <div class="base-center"></div>
            <div class="base-bottom"></div>
        </div>
    </div>
    <div class="keybord-wrap">
        <div id="keybord-main" role="main">
            <ol id="keyboard" class="macbook-pro">
                <li><span>~</span>`</li>
                <li><span>!</span>1</li>
                <li><span>@</span>2</li>
                <li><span>#</span>3</li>
                <li><span>$</span>4</li>
                <li><span>%</span>5</li>
                <li><span>^</span>6</li>
                <li><span>&amp;</span>7</li>
                <li><span>*</span>8</li>
                <li><span>(</span>9</li>
                <li><span>)</span>0</li>
                <li><span>_</span>-</li>
                <li><span>+</span>=</li>
                <li class="special r" id="delete">delete</li>
                <li class="special l" id="tab">tab</li>
                <li>Q</li>
                <li>W</li>
                <li>E</li>
                <li>R</li>
                <li>T</li>
                <li>Y</li>
                <li>U</li>
                <li>I</li>
                <li>O</li>
                <li>P</li>
                <li><span>{</span>[</li>
                <li><span>}</span>]</li>
                <li><span>|</span>\</li>
                <li class="special l" id="caps-lock">caps lock</li>
                <li>A</li>
                <li>S</li>
                <li>D</li>
                <li>F</li>
                <li>G</li>
                <li>H</li>
                <li>J</li>
                <li>K</li>
                <li>L</li>
                <li><span>:</span>;</li>
                <li><span>"</span>'</li>
                <li class="special r" id="enter"><span>enter</span>return</li>
                <li class="special shift l">shift</li>
                <li>Z</li>
                <li>X</li>
                <li>C</li>
                <li>V</li>
                <li>B</li>
                <li>N</li>
                <li>M</li>
                <li><span>&lt;</span>,</li>
                <li><span>&gt;</span>.</li>
                <li><span>?</span>/</li>
                <li class="special shift r">shift</li>
                <li class="special tall l">fn</li>
                <li class="special tall less-padding l">control</li>
                <li class="special tall less-padding l"><span>alt</span>option</li>
                <li class="special tall command r"><span>&#8984;</span>command</li>
                <li class="special tall" id="space"> </li>
                <li class="special tall command l"><span>&#8984;</span>command</li>
                <li class="special tall less-padding r"><span>alt</span>option</li>
                <li class="arrow up">&#8593;</li>
                <li class="arrow">&#8592;</li>
                <li class="arrow down">&#8595;</li>
                <li class="arrow">&#8594;</li>
            </ol>
        </div>
    </div>
    
<!--    遮罩层-->
<div class="beforeShow">
     <div class="breathe-btn">
         
     </div>
     <div id="showLogo" class="fa fa-chrome"></div>
</div>
<!--    <script type="text/javascript" src="js/icosBar.js"></script>-->
<script type="text/javascript" src="js/jquery-1.12.1.js"></script>
<script type="text/javascript" src="js/explorer.js"></script>
<script type="text/javascript" src="js/show.js"></script>
</body>

</html>